extends layout 

include _includes/sharedHTMLfunctions 

block content 
    .row.page-header: .col-lg-12 
        h1= pageHeader.title
    .row 
        .col-xs-12.col-sm-9 
            .row 
                .col-xs-12.col-sm-6 
                    p.rating 
                        +outputRating(book.rating)
                    p= book.address 
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Что интересного
                        .panel-body 
                                span.label.label-warning 
                                    span.glypicon.glypicon-ok 
                                    | &nbsp;#{book.facilities} 
                                | &nbsp;
        .col-xs-12.col-sm-6.location-map 
            .panel.panel-primary 
                .panel-heading 
                    h2.panel-title Обложка
                .panel-body 
                    img.img-responsive.im-rounded(src='images/vk.jpeg')
            .row 
                .col-xs-12 
                    .panel.panel-primary.review-panel 
                        .panel-heading 
                            a.btn.btn-default.pull-right(href='/book/review/new')
                             Добавить отзыв
                            h2.panel-title Отзывы
                        .panel-body.review-container 
                            each review in reviews 
                                .row 
                                    .review 
                                        .well.well-sm.review-header 
                                            span.rating 
                                                +outputRating(review.rating)
                                            span.reviewAuthor #{review.author} 
                                            small.reviewTimestamp #{review.timestamp} 
                                        .col-xs-12 
                                            p !{ (review.reviewText).replace(/\n/g, '<br/>') } 
        //.col-xs-12.col-md-3 
            p.lead #{ book.name }
            p= sidebar.callToAction
